#snackbar-action-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    span {
        margin-bottom: 5px;
    }

    #buttons-container {
        display: flex;
        flex-direction: column;
        width: 60%;

        #snackbar-cancel-btn {
            margin-bottom: 3px;
        }
    }
}
