#tabs-container {
  height: 400px;

  .list-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .scroll-viewport {
      height: 25vh;
      width: 15vw;
    }
  }

  #role-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
