<h2 mat-dialog-title class="dialog-title">
    {{ data.entity ? 'Actualizar información de la cuenta bancaria' : 'Registrar nueva cuenta bancaria' }}
</h2>
<form [formGroup]="accountForm">
    <div *ngIf="ownersFilter" class="form-dialog-container">
        <filter-input-component #ownersFilterInput *ngIf="!this.data.entity" [filter]="ownersFilter" (itemSelected)="selectedItem($event)"
            class="mff">
        </filter-input-component>

        <mat-form-field appearance="outline" class="mff">
            <mat-label>Bancos</mat-label>
            <mat-select formControlName="bankName" (focus)="validateField('bankName')">
                <mat-option *ngFor="let bank of banks" [value]="bank">{{ bank }}</mat-option>
            </mat-select>
            <mat-hint>{{ msgErrors[0] }}</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mff">
            <mat-label>Número de cuenta</mat-label>
            <input matInput formControlName="accountNumber" (focus)="validateField('accountNumber')"
                (keyup)="validateField('accountNumber')">
            <mat-hint>{{ msgErrors[1] }}</mat-hint>
        </mat-form-field>
    </div>

    <div class="dialog-buttons-container">
        <button mat-stroked-button cdkFocusInitial (click)="close()" class="dialog-button cancel-btn">Cancelar</button>
        <button mat-stroked-button (click)="action()" [disabled]="accountForm.invalid" class="dialog-button submit-btn">
            Guardar
        </button>
    </div>
</form>

<ng-template #empty>
    <p class="empty-text">Sin asignaciones</p>
</ng-template>

<ngx-spinner name="spinnerToggleAddEditAccount" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
    type="ball-spin-fade" [fullScreen]="true">